.login {
  text-align: center;
}
.main-login {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid 
}
.loginform {
    width: 500px;
    padding: 40px;
    margin-right: 45px;
}
