.ant-card {
    text-align: left;
    font-size: 50px;
    background: linear-gradient(180deg, rgb(0, 5, 12), rgb(18, 22, 82)); 
    width: 500
  }
.inBody {
  text-align: left;
  font-size: 20px;
}
.bugget {
  border-right:4px solid;
  border-top:4px solid;border-left:4px solid;
  border-bottom:4px solid
}
.pagetitle {
  text-align: center;
  font-size: 20px;
}